* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: rgb(51, 51, 51);
}

button,
input,
textarea {
  font-family: "Muli", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  opacity: 0;

  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: #737373;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #313363;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  border: none;
  font-size: 2rem;
  background: none;
  cursor: pointer;
  margin: 2rem 0;
}

/* Slider additional styles */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.copy-popup,
.save-popup,
.library-popup {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}

.close-save,
.close-library {
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background-color: #3b3c72;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
